vscode/.vscode/extensions/ms-python.python-2024.10.0-linux-x64/*
codeium/.codeium/code_tracker/*
.DS_Store
*.log

# files that changes with theme
*.config/ags/user/style.css
*.config/oh-my-posh/zen.toml
*.config/kitty/kitty.conf
*.config/kitty/current-theme.conf
*.config/waybar/style.css
*.config/waybar/wallust/colors-waybar.css
*.config/hypr/wallpaper_effects/.wallpaper_current
