vscode/.vscode/extensions/ms-python.python-2024.10.0-linux-x64/*
codeium/.codeium/code_tracker/*
.DS_Store
*.log

# files that changes with theme
ags/.config/ags/user/
hypr/.config/hypr/wallpaper_effects/.wallpaper_current
kitty/.config/kitty/current-theme.conf
kitty/.config/kitty/kitty.conf
oh-my-posh/.config/oh-my-posh/zen.toml
waybar/.config/waybar/style.css
waybar/.config/waybar/wallust/

